[tool.bumpversion]
current_version = "0.1b0"
parse = "(?P<major>\\d+)\\.(?P<minor>\\d+)(\\.(?P<patch>\\d+))?([-_\\.]?(?P<pre_l>a|b|rc|final)(?P<pre_n>\\d+))?([-_\\.]?(?P<post_l>dev|stable)(?P<post_n>\\d+))?(\\+(?P<local>[a-z0-9][a-z0-9-_\\.]*[a-z0-9]))?"
serialize = [
    "{major}.{minor}.{patch}{pre_l}{pre_n}{post_l}{post_n}+{local}",
    "{major}.{minor}.{patch}{pre_l}{pre_n}-{post_l}{post_n}+{local}",
    "{major}.{minor}.{patch}{pre_l}{pre_n}.{post_l}{post_n}+{local}",
    "{major}.{minor}.{patch}-{pre_l}{pre_n}{post_l}{post_n}+{local}",
    "{major}.{minor}.{patch}-{pre_l}{pre_n}-{post_l}{post_n}+{local}",
    "{major}.{minor}.{patch}-{pre_l}{pre_n}.{post_l}{post_n}+{local}",
    "{major}.{minor}.{patch}.{pre_l}{pre_n}{post_l}{post_n}+{local}",
    "{major}.{minor}.{patch}.{pre_l}{pre_n}-{post_l}{post_n}+{local}",
    "{major}.{minor}.{patch}.{pre_l}{pre_n}.{post_l}{post_n}+{local}",
    "{major}.{minor}.{patch}{pre_l}{pre_n}{post_l}{post_n}",
    "{major}.{minor}.{patch}{pre_l}{pre_n}-{post_l}{post_n}",
    "{major}.{minor}.{patch}{pre_l}{pre_n}.{post_l}{post_n}",
    "{major}.{minor}.{patch}-{pre_l}{pre_n}{post_l}{post_n}",
    "{major}.{minor}.{patch}-{pre_l}{pre_n}-{post_l}{post_n}",
    "{major}.{minor}.{patch}-{pre_l}{pre_n}.{post_l}{post_n}",
    "{major}.{minor}.{patch}.{pre_l}{pre_n}{post_l}{post_n}",
    "{major}.{minor}.{patch}.{pre_l}{pre_n}-{post_l}{post_n}",
    "{major}.{minor}.{patch}.{pre_l}{pre_n}.{post_l}{post_n}",
    "{major}.{minor}.{patch}{post_l}{post_n}+{local}",
    "{major}.{minor}.{patch}-{post_l}{post_n}+{local}",
    "{major}.{minor}.{patch}.{post_l}{post_n}+{local}",
    "{major}.{minor}.{patch}{post_l}{post_n}",
    "{major}.{minor}.{patch}-{post_l}{post_n}",
    "{major}.{minor}.{patch}.{post_l}{post_n}",
    "{major}.{minor}.{patch}{pre_l}{pre_n}+{local}",
    "{major}.{minor}.{patch}-{pre_l}{pre_n}+{local}",
    "{major}.{minor}.{patch}.{pre_l}{pre_n}+{local}",
    "{major}.{minor}.{patch}{pre_l}{pre_n}",
    "{major}.{minor}.{patch}-{pre_l}{pre_n}",
    "{major}.{minor}.{patch}.{pre_l}{pre_n}",
	"{major}.{minor}.{patch}+{local}",
	"{major}.{minor}.{patch}",
    "{major}.{minor}{pre_l}{pre_n}{post_l}{post_n}+{local}",
    "{major}.{minor}{pre_l}{pre_n}-{post_l}{post_n}+{local}",
    "{major}.{minor}{pre_l}{pre_n}.{post_l}{post_n}+{local}",
    "{major}.{minor}-{pre_l}{pre_n}{post_l}{post_n}+{local}",
    "{major}.{minor}-{pre_l}{pre_n}-{post_l}{post_n}+{local}",
    "{major}.{minor}-{pre_l}{pre_n}.{post_l}{post_n}+{local}",
    "{major}.{minor}.{pre_l}{pre_n}{post_l}{post_n}+{local}",
    "{major}.{minor}.{pre_l}{pre_n}-{post_l}{post_n}+{local}",
    "{major}.{minor}.{pre_l}{pre_n}.{post_l}{post_n}+{local}",
    "{major}.{minor}{pre_l}{pre_n}{post_l}{post_n}",
    "{major}.{minor}{pre_l}{pre_n}-{post_l}{post_n}",
    "{major}.{minor}{pre_l}{pre_n}.{post_l}{post_n}",
    "{major}.{minor}-{pre_l}{pre_n}{post_l}{post_n}",
    "{major}.{minor}-{pre_l}{pre_n}-{post_l}{post_n}",
    "{major}.{minor}-{pre_l}{pre_n}.{post_l}{post_n}",
    "{major}.{minor}.{pre_l}{pre_n}{post_l}{post_n}",
    "{major}.{minor}.{pre_l}{pre_n}-{post_l}{post_n}",
    "{major}.{minor}.{pre_l}{pre_n}.{post_l}{post_n}",
    "{major}.{minor}{post_l}{post_n}+{local}",
    "{major}.{minor}-{post_l}{post_n}+{local}",
    "{major}.{minor}.{post_l}{post_n}+{local}",
    "{major}.{minor}{post_l}{post_n}",
    "{major}.{minor}-{post_l}{post_n}",
    "{major}.{minor}.{post_l}{post_n}",
    "{major}.{minor}{pre_l}{pre_n}+{local}",
    "{major}.{minor}-{pre_l}{pre_n}+{local}",
    "{major}.{minor}.{pre_l}{pre_n}+{local}",
    "{major}.{minor}{pre_l}{pre_n}",
    "{major}.{minor}-{pre_l}{pre_n}",
    "{major}.{minor}.{pre_l}{pre_n}",
	"{major}.{minor}+{local}",
	"{major}.{minor}",
]
search = "{current_version}"
replace = "{new_version}"
regex = false
ignore_missing_version = false
ignore_missing_files = false
tag = false
sign_tags = false
tag_name = "v{new_version}"
tag_message = "Release v{current_version} → v{new_version}"
allow_dirty = false
commit = false
message = "Release v{current_version} → v{new_version}"
commit_args = ""

[tool.bumpversion.parts.pre_l]
first_value = "a"
optional_value = "final"
values = ["a", "b", "rc", "final"]

[tool.bumpversion.parts.post_l]
first_value = "dev"
optional_value = "stable"
values = ["dev", "stable"]

[tool.bumpversion.parts.local]
independent = true

[[tool.bumpversion.files]]
filename = "pyproject.toml"
search = 'version = "{current_version}"'
replace = 'version = "{new_version}"'

[[tool.bumpversion.files]]
filename = "README.rst"
search = ":Version: {current_version}"
replace = ":Version: {new_version}"

[[tool.bumpversion.files]]
filename = "README.rst"
search = "quackamollie-{current_version}"
replace = "quackamollie-{new_version}"

[[tool.bumpversion.files]]
filename = "README.rst"
search = "quackamollie=={current_version}"
replace = "quackamollie=={new_version}"

[[tool.bumpversion.files]]
filename = "README.rst"
search = "quackamollie:{current_version}"
replace = "quackamollie:{new_version}"

[[tool.bumpversion.files]]
filename = "VERSION"

[[tool.bumpversion.files]]
filename = "src/quackamollie/_bundle/__init__.py"
search = '__version__ = "{current_version}"'
replace = '__version__ = "{new_version}"'

[[tool.bumpversion.files]]
filename = "tests/_bundle/test_quackamollie_bundle.py"
